<a href="https://colab.research.google.com/github/ArturSidorenko/Python_MSE_Lectures/blob/main/Python_MSE_class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Цикл for

<img src=https://www.meme-arsenal.com/memes/ab160b4de1b790e9c1d944296c6d7da5.jpg>

**№1** Напишите программу, которая выводит все числа от 1 до 10 включительно.

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

**№2** Напишите программу, которая выводит на экран таблицу умножения на 7 (от 1 до 10).

In [ ]:
for i in range(1, 11):
  print(f'7 * {i} = {7 * i}')

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

**№3** Напишите программу, которая находит сумму всех чисел от 1 до 100 и выводит ее на экран. Получите плюс к моральному удовлетворению за то, что следовали Гауссу

In [ ]:
answer = 0
for i in range(1, 101):
  answer = answer + i
print(answer)

5050

**№4** апишите программу, которая находит сумму всех четных чисел от 1 до 50 и выводит ее на экран.

In [ ]:
answer = 0
for i in range(2, 51, 2):
  answer = answer + i
print(answer)

650

**№5** Напишите программу, которая выводит все числа от 1 до 20, кроме чисел, кратных 3.

In [ ]:
for i in range(1, 21):
  if i % 3 != 0:
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

**№6** Напишите программу, которая запрашивает у пользователя число и выводит таблицу умножения для этого числа от 1 до 10.

In [ ]:
a = int(input('Введите число: '))
for i in range(1, 11):
  print(f'{a} * {i} = {a * i}')

Введите число: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

**№7** Напишите программу, которая запрашивает у пользователя два числа, а затем выводит на экран их наибольший общий делитель. Оба числа натуральные

In [ ]:
x = int(input('Введите число: '))
y = int(input('Введите число: '))
if x % y == 0:
  print(f'Ответ = {y}')
else:
  for k in range(y // 2, 0, -1):
    if (x % k == 0) and (y % k == 0):
      print(f'Ответ = {k}')
      break

Введите число: 52
Введите число: 715
Ответ = 13

**№8** Напишите программу, которая запрашивает у пользователя два числа, а затем выводит на экран их наименьшее общее кратное. Оба числа натуральные

In [ ]:
x = int(input('Введите число: '))
y = int(input('Введите число: '))
for k in range(1, x * y + 1):
  if (k % x == 0) and (k % y == 0):
    print(k)
    break

Введите число: 54
Введите число: 9
54