<a href="https://colab.research.google.com/github/ArturSidorenko/Python_MSE_Lectures/blob/main/Python_MSE_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Семинар 7

# Списки
Список --- набор значений, образующий упорядорченную последовательность. Список выделяется квадратными скобками.
В Python список может содержать разные типы данных в себе.

In [ ]:
['a', 'b', 'c'], [1, 2, 3], [1, 'b', True]

(['a', 'b', 'c'], [1, 2, 3], [1, 'b', True])

Пример доступа к элеменут списка по номеру, или индексу

In [ ]:
l = [1, 2, 3, 4, 5]
print('l[0] = ', l[0])

l[0] =  1

In [ ]:
l[104]

IndexError: ignored

**Нумерация элементов в списке начинается с нуля!**

В списке индекс не может выходить за пределы самого размера. Однако индекс может быть **отрицательным**. Так, -1 означает последний элемент, -2 --- предпоследний и т.д.

In [ ]:
l[-1]

5

Можно менять элементы списка через обращенипе к индексу.

In [ ]:
l[-1] = 105
l

[1, 2, 3, 4, 105]

Для списков есть операции сложения (конкатенация) и умножения на число (репликация).

In [ ]:
l = [1, 2, 3, 4, 5]
m = ["a", 'b', 'c']
m + l

['a', 'b', 'c', 1, 2, 3, 4, 5]

In [ ]:
l * 3

[25, 2, 3, 4, 5, 25, 2, 3, 4, 5, 25, 2, 3, 4, 5]


Из списка можно удалять значения с заданным индексом (`del`).

In [ ]:
l = [1, 2, 3, 4, 5]
del l[3]
l

[1, 2, 3, 5]

**В цикле for можно проводить обход по элементам списка!**

In [ ]:
l = [1, 2, 3, 4, 5]
for j in l:
  print(j)

1
2
3
4
5

Функция enumerate создает пары индекс-значение, удобно для работы с циклами. Первый элемент i --- индекс, второй элемент j --- само значение из списка

In [ ]:
for i, j in enumerate(l):
  print(f'l[{i}] = {j}')

l[0] = 1
l[1] = 2
l[2] = 3
l[3] = 4
l[4] = 5

Можно проверять, входит ли какое-то значение в список при помощи слов `in` и `not in`.

In [ ]:
l = [25, 2, 3, 4, 5]

print(l)

if 25 in l:
  print('Опять 25')

if 9 not in l:
  print('Девятки нет')

[25, 2, 3, 4, 5]
Опять 25
Девятки нет

Трюк с групповым присваиванием

In [ ]:
cat = ['толстый', 'серый', 'общительный']
size, color, character = cat

cat2 = [size, color, character]
print(cat2)
print(color)

['толстый', 'серый', 'общительный']
серый

Можно найти длину списка через функцию `len`.

In [ ]:
len(l) # совет: не используйте l в качестве имени переменной: путается с единицей

5

In [ ]:
len(cat)

3

In [ ]:
кот = 1
print(кот)

1

Как обычно, есть приведение типов к списку с помощью функции `list()`. Что будет, если перевести в список `range(1, 11)`? А можно ли перевести в список строку? Число?

In [ ]:
float(5)

5.0

Список --- изменяемый тип данных! Это значит, что вы можете ... изменять список в ходе аботы программы. Число и строка --- неизменяемые типы данных. Есть 'неизменяемый список' --- кортеж (tuple). В отличие от списка, он обозначается круглыми скобками.

In [ ]:
eggs = (1, 'abc')
eggs[1]

'abc'

In [ ]:
len(eggs)

2

In [ ]:
eggs[0] = 3

TypeError: ignored

## Как устроены данные в Python

Python управляет памятью компьютера самостоятельно. Когда нужно выделить память под  `a = 1`, Python создает объект, соответствующий единице, и дает этой единице имч (буковку) `a`. Когда нужно выделить память под список `a = []`, Python создает пустой список и дает ему буквовку `a`. На языке предыдущего занятия, появляется имя `a`, и оно связывается со списком `[]`.  

Одному списку могут соответствовать разные имена (буковки). Если нужна именно копия списка, используйте метод `copy()`.

Для тех, кто знаком с C++: имена в Python работают примерно так же, как ссылки в C++.

## Методы для работы со списками



*   `append(a)` --- добавить элемент `a` в конец списка
*   `insert(i, a)` --- вставить элемент `a` позицию `i`
*  `remove(a)` --- удалить элемент `a` из списка
* `sort()` --- сортировка элементов списка. Есть возможность сортировать в обратном порядке через `sort(reverse=True)`
*  `copy()` --- создать точную копию списка
* `pop()` --- удаляет из списка последний элемент и возвращает его

In [ ]:
l = [1, 2, 3]
l.append(4)
l

[1, 2, 3, 4]

In [ ]:
l.pop()

4

In [ ]:
l

[1, 2, 3]

## Задачи

**1**. Создайте список, содержащий несколько чисел. Выведите на экран первый элемент этого списка. Выведите на экран последний элемент этого списка.

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7]
print(l[0], l[-1])

1 7

**2**. Создайте список, содержащий числа от 1 до 10. Используя цикл for, выведите на экран все элементы этого списка.

In [ ]:
m = list(range(1, 11))

for j in m:
  print(j)

1
2
3
4
5
6
7
8
9
10

**3**. Создайте список, содержащий несколько чисел. С помощью *функции* `sum()` найдите сумму элементов этого списка и выведите на экран.

In [ ]:
sum(m)

55

**4**. Напишите функцию `find_max()`, которая принимает список чисел в качестве аргумента и возвращает наибольшее число в этом списке. Создайте список, содержащий несколько чисел, и выполните честный обход по списку с помощью цикла (функцию `max()` использовать нельзя, так слишком просто).

In [ ]:
def find_max(l):
  ans = l[0]
  for j in l:
    if j > ans:
      print('Кандидат неправильный. Новый кандидат ', j)
      ans = j
    else:
      print('Кандидат правильный: ', ans)
  return ans

find_max([1, 2, 3, -1])

Кандидат правильный:  1
Кандидат неправильный. Новый кандидат  2
Кандидат неправильный. Новый кандидат  3
Кандидат правильный:  3

3

In [ ]:
[1, 2, 3]